<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head')%>
        <title>
            <%= title%>
        </title>
</head>

<body class=" bg-dark">
    <%- include('partials/nav')%>
        <div class="container mt-4  text-white">
            <h3>Welcome To About Page</h3>
            <h3>Hello From Express JS</h3>
            <h3>This is from VIEWS</h3>
        </div>
</body>

</html>